<head>
    <title>Tweeter | Home</title>
</head>

{% extends "timeline/layout.html" %}
{% block body %}

<div class="posts">
    {% for post in posts %}
        <div onclick="window.location='/post/{{post.id}}'" class="post">
            <h6 style="font-weight: 700;"><a href="{% url 'accounts' username=post.author.username %}">{{post.author}}</a></h6>
            <h6 style="font-weight: 700;">{{ post.date_time }}</h6>
            <p>{{post.content}}</p>
            <p class="text-info">{{ post.count_likes }} Likes</p><a href="{% url 'new_reply' post_id=post.id %}" class="btn-link">Reply</a>
        </div>
    {% endfor %}
</div>

{% endblock %}