<head>
    <title>Tweeter | Post</title>
</head>

{% extends "timeline/layout.html" %}
{% block body %}

<div class=content>
    <p><a href="{% url 'accounts' username=post.author.username %}">{{post.author.username}}</a></p>
    <p>{{ post.content }}</p>
    <a href="{% url 'new_reply' post_id=post.id %}">Reply</a>
</div>

<div class="replies">
<h3>Replies</h3>
{% for reply in replies %}
    <p><a href="{% url 'accounts' username=reply.author.username %}">{{reply.author.username}}</a></p>
    <div class="reply">
        <p>{{ reply.content }}</p>
    </div>
{% endfor %}
</div>

<a class="link" href="{% url 'index' %}">Go Home</a>

{% endblock %}